<div class="application-container">
    <search-bar></search-bar>
    <div class="generate-command">
        <input class="generate-button" type="button" 
            value="Generate Install Command" 
            [disabled]="selectedApplicationList.length === 0"
            (click)="generateCommand()" />
    </div>
    <div class="application-list">
        <div *ngIf="selectedApplicationList.length === 0" class="non-application">
            <span>You don't subscribe any app! Go to <a routerLink="/package">subscribe</a> yours! </span>
        </div>
        <div *ngFor="let app of selectedApplicationList; let i=index;" class="application-item">
            <div class="item">
                <div class="col-md-1 col-sm-1">
                    <img src={{app.icon}}></div>
                <div class="col-md-9 col-sm-9">
                    <div class="app-name">{{app.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>