
<div class="application-container">
    <search-bar></search-bar>
    <div class="application-list">
        <div *ngFor="let app of applicationList; let i=index;" class="application-item">
            <div class="item">
                <span class="col-md-1 col-sm-1 col-xs-3">
                    <img src={{app.icon}}></span>
                <span class="col-md-9 col-sm-9 col-xs-5">
                    <span class="app-name">{{app.name}}</span>
                </span>
                <span class="col-md-2 col-sm-2 col-xs-4">
                    <input type="button" value="{{app.isSelected ? 'Remove' : 'Add'}}" class="add-button" (click)="add(i)"/>
                </span>
            </div>
        </div>
    </div>
</div>
