<search-bar></search-bar>
<div class="package-container">
    <div class="create-button-area">
        <input class="create-button" type="button" 
            value="Create"
            routerLink="/create" />
    </div>
    <spinner class="subscription" [spinning]="spinning" [size]="'large'">
        <div *ngIf="packageList.length === 0" class="no-content">
            <span>You don't have any app! Go to <a routerLink="/create">create</a> yours! </span>
        </div>
        <div *ngFor="let app of packageList; let i=index;" class="package-item">
            <div class="item">
                <span class="col-md-1 col-sm-2 col-xs-2">
                    <img src={{app.icon}}>
                </span>
                <span class="col-md-2 col-sm-8 col-xs-6">
                    <span class="app-name">{{app.name}}</span>
                </span>
                <span class="col-md-4 hidden-sm hidden-xs">
                    <span class="app-name">{{app.description}}</span>
                </span>
                <span class="col-md-2 hidden-sm hidden-xs">
                    <span class="app-name">{{app.script}}</span>
                </span>
                <span class="col-md-1 hidden-sm hidden-xs">
                    <span class="app-name">{{app.version}}</span>
                </span>
                <span class="col-md-2 col-sm-2 col-xs-4">
                    <input class="edit-button" type="button"
                        value="{{currentEditPackageIndex === i ? 'Done' : 'Edit'}}"
                        (click)="editPackage(i)" />
                </span>
            </div>
            <div *ngIf="currentEditPackageIndex === i" class="edit-area">
                <div class="edit-area-row discard-button-row">
                    <input type="button" value="Discard" class="discard-button" 
                        (click)="discardChange(i)" />
                    <input type="button" value="Delete" class="delete-button" 
                        (click)="deletePackage(i)" />
                </div>
                <div class="app-divider"></div>
                <div class="edit-container">
                    <edit-package [package]="currentEditPackage"></edit-package>
                </div>
            </div>
        </div>
    </spinner>
</div>