<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
            <!-- Remember to set 'Handler Mapping' to 'Read/Write' in 'Feature Delegation' -->
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<directoryBrowse enabled="false" />
		<rewrite>
			<rules>
				<rule name="IISNode">
					<match url="/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>