<div class="edit-package-row edit-package-row-icon">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Icon</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <div class="img-container"></div>
        <img (dragenter)="dragDefault($event)"
             (dragover)="dragDefault($event)"
             (drop)="handleDrop($event)"
             (dragleave)="dragDefault($event)"
             [attr.src]="package.icon" />
        <div class="error-message" *ngIf="isLogoError !== ''">{{ isLogoError }}</div>
        <div>
            <input class="img-button" type="button" value="Upload" (click)="file.click()"/>
            <input class="img-button" type="button" value="Delete" [disabled]="!package.icon || package.icon.length===0" (click)="deleteFile()"/>
        </div>
        <input type="file"
               accept="image/jpeg, image/jpg, image/png, image/bmp, image/icon, image/svg, image/gif"
               style="display: none"
               id="input-file"
               (change)="fileChange(file.files[0])" #file />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Name</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.name" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Install Command</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.script" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Install Message</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.message" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Description</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.description" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Publisher</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.publisher" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Source URL</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.sourceURL" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Quit Code</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.quitCode" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Dependency</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <span *ngFor="let app of package.dependency">
            <a routerLink="/package/{{app.id}}">app.name</a>
        </span>
        <input type="text" placeholder="Add dependency" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Version</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.version" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Download Size</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.downloadSize" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Supported OS</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <span *ngFor="let os of allWindows">
            <label class="checkbox"><input type="checkbox" value="">{{os.name}}</label>
        </span>
    </span>
</div>
<div class="edit-package-row">
    <span class="col-lg-2 col-md-3 col-sm-5 col-xs-12">Install Flag</span>
    <span class="col-lg-10 col-md-9 col-sm-7 col-xs-12">
        <label class="radio"><input type="radio" name="quietPassiveGroup" value={{package.quiet}}>Quiet</label>
        <label class="radio"><input type="radio" name="quietPassiveGroup" value={{package.passive}}>Passive</label>
        <label class="checkbox"><input type="checkbox" value={{package.restart}}>Restart</label>
    </span>
</div>
