<nav class="navbar navbar-default navbar-installer">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#installerNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" routerLink="/">Batch Installer</a>
        </div>
        <div class="collapse navbar-collapse" id="installerNavbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="/">Package</a></li>
                <li><a routerLink="/subscription">Subscription</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/package-management">Package Management</a></li>
                        <li><a routerLink="/subscription-management">Subscription Management</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/subscribe"><span class="glyphicon glyphicon-bell"></span> {{applicationCount}}</a></li>                
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/login">
                        <span class="glyphicon glyphicon-log-in"></span> {{username}}</a>
                    <ul class="dropdown-menu" *ngIf="username !== 'Log In'">
                        <li><a routerLink="/logoff">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>-->
                <login></login>
            </ul>
        </div>
    </div>
</nav>
<div class="app-container">
    <router-outlet></router-outlet>
</div>