body {
    margin: 0 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #f3f3f3;
}

.navbar {
    height: 60px;
    line-height: 60px;
    background-color: #658db5;
    color: #f8f8f8;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;

    span {
        margin: 0 200px;
    }

    .list {
        height: 100%;
        background-color: #3B5998;
        width: 80px;
        float: right;
        text-align: center;
        margin-right: 200px;
        cursor: pointer;
    }

    .list:hover {
        background-color: #333;
    }
}