
<div class="application-container">
    <div class="search-bar">
        <input class="search-textbox" type="text" placeholder="Search Application Name" />
        <input class="search-button" type="button" value="Search" />
    </div>
    <div class="application-list">
        <div *ngFor="let app of applicationList; let i=index;" class="application-item">
            <div class="item">
                <div class="col-md-1 col-sm-1">
                    <img src={{app.application.icon}}></div>
                <div class="col-md-9 col-sm-9">
                    <div class="app-name">{{app.application.name}}</div>
                    <!--<div class="app-script">{{app.application.script}}</div>-->
                </div>
                <div class="col-md-2 col-sm-2">
                    <input type="button" value="{{app.isSelected ? 'Remove' : 'Add'}}" class="add-button" (click)="add(i)"/>
                </div>
            </div>
        </div>
    </div>
</div>

