<modal-dialog>
    <div class="app-modal-header">
        Create Subscription
    </div>
    <div class="app-modal-body">
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Name
            </span>
            <span class="col-md-9 col-xs-12">
                <input type="text" class="col-input" />
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Description
            </span>
            <span class="col-md-9 col-xs-12">
                <input type="text" class="col-input"/>
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Supported OS
            </span>
            <span class="col-md-9 col-xs-12">
                Windows 8
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Installation Command
            </span>
            <span class="col-md-6 col-xs-8">
                <input type="text" class="col-input" [value]="installationCommand" />
            </span>
            <span class="col-md-3 col-xs-4">
                <button type="button" class="btn btn-primary">Copy</button>
            </span>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateCommand()">Generate</button>
    </div>
</modal-dialog>
<button (click)="modal.show()" class="create-subscription-button"
        [disabled]="applicationList.length === 0">Create Subscription</button>