<modal-dialog>
    <div class="app-modal-header">
        Create Subscription
    </div>
    <div class="app-modal-body">
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Name
            </span>
            <span class="col-md-9 col-xs-12">
                <input type="text" class="col-input" #name />
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Description
            </span>
            <span class="col-md-9 col-xs-12">
                <input type="text" class="col-input" #description />
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Supported OS
            </span>
            <span class="col-md-9 col-xs-12">
                Windows 8
            </span>
        </div>
        <div class="create-subscription-row">
            <span class="col-md-3 col-xs-12">
                Installation Command
            </span>
            <span class="col-md-6 col-xs-8">
                <textarea rows=4 class="textarea-command" disabled value="{{subscription.script}}" ></textarea>
            </span>
            <span class="col-md-3 col-xs-4">
                <button type="button" class="btn btn-primary" 
                    (click)="copyCommand()">Copy</button>
            </span>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <input type="button" class="btn btn-primary" 
            (click)="generateCommand(name.value, description.value)"
            value="Generate" />
    </div>
</modal-dialog>
<button (click)="modal.show()" class="create-subscription-button"
        [disabled]="subscription.applications.length === 0">Create Subscription</button>