<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Icon</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.icon" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Name</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.name" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Install Command</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.script" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Install Message</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.message" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Description</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.description" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Version</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.version" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Download Size</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
        <input type="text" [(ngModel)]="package.downloadSize" />
    </span>
</div>
<div class="edit-package-row">
    <span class="col-md-3 col-sm-5 col-xs-12">Publisher</span>
    <span class="col-md-9 col-sm-7 col-xs-12">
    <input type="text" [(ngModel)]="package.publisher" />
    </span>
</div>